body 


.centered-text {
    text-align: center;
    margin-top: 50px; /* Opcional: para ajustar a margem superior */
  }
  
  .imagem-com-borda {
    border: 2px solid black; /* Define uma borda preta de 2px */
    padding: 10px; /* Adiciona um espaçamento interno de 10px */
}
.imagem-pequena {
  width: 200px; /* Define a largura da imagem como 200 pixels */
  height: auto; /* Ajusta automaticamente a altura para manter a proporção original */
}
